# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: mysql2
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: c9
  username: vimleshpatel
  host: 0.0.0.0
  
  
## start MySQL. Will create an empty database on first start
# mysql-ctl start

## stop MySQL
# mysql-ctl stop

## run the MySQL interactive shell
# mysql-ctl cli